<!DOCTYPE html>
<html lang="en" class="layout-static">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>골프 코스관리 솔루션 웹</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	<link href="assets/css/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/fontawsome/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/add.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/daterangepicker.js"></script>
	<script src="assets/js/picker.js"></script>
	<script src="assets/js/picker.date.js"></script>
	<script src="assets/js/picker.time.js"></script>
	<script src="assets/js/legacy.js"></script>
	<script src="assets/js/jgrowl.min.js"></script>


	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<script src="assets/js/picker_date.js"></script>
	<script src="assets/js/echarts.min.js"></script>
	<script src="assets/js/lines_multiple.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Page content -->
	<div class="page-content all-bg">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<!-- Login form -->
					<form class="login-form" action="index.html">
						<div class="card mb-0">
							<div class="card-body">
                                <div class="position-relative text-center">
                                    <img src="assets/img/golf_logo.png" width="200" class="" alt="Logo">
                                </div>
								<div class="text-center mb-3">
									<h5 class="mt-2 mb-2">골프 코스관리 솔루션</h5>
									<span class="d-block text-muted">아이디와 비밀번호를 입력하세요.</span>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="text" class="form-control" placeholder="아이디">
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
								</div>

								<div class="form-group form-group-feedback form-group-feedback-left">
									<input type="password" class="form-control" placeholder="비밀번호">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">로그인</button>
								</div>
							</div>
						</div>
					</form>
					<!-- /login form -->

				</div>
				<!-- /content area -->



			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


</body>




</html>