# Copy the Qualifier annotation from the instance variables to the constructor
# see https://projectlombok.org/features/constructor lombok.copyableAnnotations
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# see https://projectlombok.org/features/configuration
lombok.addLombokGeneratedAnnotation = true
