<!DOCTYPE html>
<html lang="en" class="layout-static">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>골프 코스관리 솔루션 웹</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/fontawsome/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/add.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->
		
	<!-- Theme JS files -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/daterangepicker.js"></script>
	<script src="assets/js/picker.js"></script>
	<script src="assets/js/picker.date.js"></script>
	<script src="assets/js/picker.time.js"></script>
	<script src="assets/js/legacy.js"></script>
	<script src="assets/js/jgrowl.min.js"></script>


	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<script src="assets/js/picker_date.js"></script>
	<script src="assets/js/echarts.min.js"></script>
	<script src="assets/js/lines_multiple.js"></script>
	<!-- /theme JS files -->

    <!--fullcarendar js-->
    <script src="assets/js/fullcalendar/main.min.js"></script>
    <script src="assets/js/fullcalendar/fullcalendar_basic.js"></script>
    <script src="assets/js/fullcalendar/fullcalendar_styling.js"></script>

	<link href="assets/css/twentytwenty.css" rel="stylesheet" type="text/css">

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-lg navbar-light navbar-static">
		<div class="d-flex flex-1 d-lg-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-paragraph-justify3"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-transmission"></i>
			</button>
			<button type="button" class="navbar-toggler sidebar-mobile-main-toggle">
				<i class="icon-transmission"></i>
			</button>
			<button type="button" class="navbar-toggler sidebar-mobile-right-toggle">
				<i class="icon-arrow-right8"></i>
			</button>
		</div>

		<div class="navbar-brand text-center text-lg-left">
			<a href="index.html" class="d-inline-block">
				<img src="assets/img/golf_logo.png" class="d-none d-sm-block" alt="Logo">
				<img src="assets/img/golf_logo.png" class="d-sm-none" alt="Logo">
			</a>
		</div>

		<div class="collapse navbar-collapse order-2 order-lg-1" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="course_allcourse.html" class="navbar-nav-link">
						COURSE
					</a>
				</li>
				<li class="nav-item">
					<a href="management_dashboard" class="navbar-nav-link active">
						MANAGEMENT
					</a>
				</li>
			</ul>

		</div>

		<ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">
			<li class="nav-item">
				<a href="#" class="navbar-nav-link navbar-nav-link-toggler">
					<i class="fas fa-bell"></i>
					<span class="badge badge-warning badge-pill ml-auto ml-lg-0">2</span>
				</a>				
			</li>

			<li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
				<a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100" data-toggle="dropdown">
					<img src="assets/img/user.png" class="rounded-pill mr-lg-2" height="34" alt="">
					<span class="d-none d-lg-inline-block">사용자명</span>
				</a>

				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item">내 정보</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">로그아웃</a>
				</div>
			</li>
		</ul>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-lg sidebar-main-resized">
		
			<!-- Sidebar content -->
			<div class="sidebar-content sidebar-small">


				<!-- Main navigation -->
				<div class="sidebar-section">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<!-- <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li> -->
						<li class="nav-item p-0">
							<a href="management_dashboard.html" class="nav-link">
								<i class="far fa-clone"></i>
								<span>
									대시보드
								</span>
							</a>
							<a href="management_course1.html" class="nav-link active">
								<i class="far fa-calendar-alt"></i>
								<span>
									코스관리
								</span>
							</a>
							<a href="management_robot1.html" class="nav-link">
								<i class="fas fa-robot"></i>
								<span>
									로봇관리
								</span>
							</a>
						</li>
						<!-- /main -->
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content d-sm-flex">

					<div class="page-title" style="width:100%;">
						<div class="float-right">
							<button type="button" class="btn sidebar-control sidebar-right-toggle">
								<i class="fas fa-align-justify"></i>
							</button>
						</div>

						<h6 class="mr-2 mt-1 font-weight-semibold float-left ml-2">코스관리 작업 일정표 - 리스트</h6>
						<div class="btn-group float-right mr-2">
							<button type="button" class="btn btn-light" onclick="location.href='management_course1.html'">달력</button>
							<button type="button" class="btn btn-light active" onclick="location.href='management_course2.html'">리스트</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">
				<!-- Basic card -->
                <!-- Basic view -->
					<div class="card">
						<div class="card-body">
                            <div class="mb-3">
                                <h6 class="mb-0 font-weight-semibold">
                                    전체 보기
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card border-success">
                                        <div class="card-header bg-success-100 border-success">
                                            <span class="font-weight-semibold">작업자명</span>
                                            <div class="list-icons float-right ml-3">
                                                <div class="dropdown position-static">
                                                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a href="#" class="dropdown-item">수정</a>
                                                        <a href="#" class="dropdown-item">삭제</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="font-weight-semibold float-right">2023.06.08 14:11</span>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title">코스 1, 2 시약 작업</h6>
                                            <p class="card-text"></p>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                                </span>
                                                <span type="text" class="form-control">01/01/2015 - 01/31/2015</span>
                                            </div>

                                            <div class="mt-2 work-label">
												<span class="badge badge-info">Hole 1</span> <!--코스 위치 라벨-->
												<span class="badge badge-success">Green</span> <!--코스 유형 라벨-->
												<span class="badge badge-warning">갱신</span> <!--작업 분류 라벨-->
												<span class="badge badge-secondary">시비</span> <!--작업 종류 라벨-->
                                            </div>

											<div class="form-group row mt-3">
												<label class="col-form-label col-lg-2">브랜드 명</label>
												<div class="col-lg-10">
													<input type="text" class="form-control" disabled="" value="브랜드명">
												</div>
											</div>

											<div class="form-group row mt-2">
												<label class="col-form-label col-lg-2">작업 메모</label>
												<div class="col-lg-10">
													<textarea rows="3" cols="3" class="form-control" placeholder="Default textarea">마그네슘 4g 작업</textarea>
												</div>
											</div>
											<button type="button" class="float-right btn btn-success">작업 리포트 상세</button>
                                        </div>
                                    </div>
                                </div>

								<div class="col-lg-6">
                                    <div class="card border-success">
                                        <div class="card-header bg-success-100 border-success">
                                            <span class="font-weight-semibold">작업자명</span>
                                            <div class="list-icons float-right ml-3">
                                                <div class="dropdown position-static">
                                                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a href="#" class="dropdown-item">수정</a>
                                                        <a href="#" class="dropdown-item">삭제</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="font-weight-semibold float-right">2023.06.08 14:11</span>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title">코스 1, 2 시약 작업</h6>
                                            <p class="card-text"></p>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                                </span>
                                                <span type="text" class="form-control">01/01/2015 - 01/31/2015</span>
                                            </div>

                                            <div class="mt-2 work-label">
												<span class="badge badge-info">Hole 1</span> <!--코스 위치 라벨-->
												<span class="badge badge-success">Green</span> <!--코스 유형 라벨-->
												<span class="badge badge-warning">갱신</span> <!--작업 분류 라벨-->
												<span class="badge badge-secondary">시비</span> <!--작업 종류 라벨-->
                                            </div>

											<div class="form-group row mt-3">
												<label class="col-form-label col-lg-2">브랜드 명</label>
												<div class="col-lg-10">
													<input type="text" class="form-control" disabled="" value="브랜드명">
												</div>
											</div>

											<div class="form-group row mt-2">
												<label class="col-form-label col-lg-2">작업 메모</label>
												<div class="col-lg-10">
													<textarea rows="3" cols="3" class="form-control" placeholder="Default textarea">마그네슘 4g 작업</textarea>
												</div>
											</div>
											<button type="button" class="float-right btn btn-success">작업 리포트 상세</button>
                                        </div>
                                    </div>
                                </div>
								

                            </div>
						</div>
					</div>
					<!-- /basic view -->

				<!-- /basic card -->


			</div>
			<!-- /content area -->

						<!-- Scrollable modal -->
						<div class="" style="position:fixed; bottom:30px; right:30px; z-index:1;">
							<button type="button" class="btn btn-round" data-toggle="modal" data-target="#modal_scrollable">작업 등록<i class="fas fa-plus mt-2"></i></button>
						</div>
						
						<div id="modal_scrollable" class="modal fade" tabindex="-1">
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header pb-3">
										<h5 class="modal-title">작업일정 추가</h5>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
			
									<div class="modal-body py-0">
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 날짜</label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-prepend">
														<span class="input-group-text"><i class="icon-calendar22"></i></span>
													</span>
													<input type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015"> 
													
												</div>
											</div>
											
										</div>
			
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">코스 위치</label>
											<div class="col-lg-10 course-location-badge">
												<a href="#"><span class="badge badge-info active">Hole 1</span></a> <!--코스 위치 라벨-->
												<a href="#"><span class="badge badge-info">Hole 2</span></a>
												<a href="#"><span class="badge badge-info">Hole 3</span></a>
												<a href="#"><span class="badge badge-info">Hole 4</span></a>
												<a href="#"><span class="badge badge-info">Hole 5</span></a>
												<a href="#"><span class="badge badge-info">Hole 6</span></a>
												<a href="#"><span class="badge badge-info">Hole 7</span></a>
												<a href="#"><span class="badge badge-info">Hole 8</span></a>
												<a href="#"><span class="badge badge-info">Hole 9</span></a>
												<a href="#"><span class="badge badge-info">Hole 10</span></a>
												<a href="#"><span class="badge badge-info">Hole 11</span></a>
												<a href="#"><span class="badge badge-info">Hole 12</span></a>
												<a href="#"><span class="badge badge-info">Hole 13</span></a>
												<a href="#"><span class="badge badge-info">Hole 14</span></a>
												<a href="#"><span class="badge badge-info">Hole 15</span></a>
												<a href="#"><span class="badge badge-info">Hole 16</span></a>
												<a href="#"><span class="badge badge-info">Hole 17</span></a>
												<a href="#"><span class="badge badge-info">Hole 18</span></a>
											</div>
										</div>
			
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 분류</label>
											<div class="col-lg-10 course-category-badge">
												<a href="#"><span class="badge badge-success active">Green</span></a><!--코스 유형 라벨-->
												<a href="#"><span class="badge badge-success">Fairway</span></a>						
											</div>
										</div>
			
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 분류</label>
											<div class="col-lg-10 work-class-badge">
												<a href="#"><span class="badge badge-warning active">갱신</span></a><!--작업 분류 라벨-->
												<a href="#"><span class="badge badge-warning">예고</span></a>				
												<a href="#"><span class="badge badge-warning">기타</span></a>							
											</div>
										</div>
			
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 종류</label>
											<div class="col-lg-10 work-category-badge">
												<a href="#"><span class="badge badge-secondary active">시비</span></a> <!--작업 종류 라벨-->
												<a href="#"><span class="badge badge-secondary">시약</span></a>				 											
											</div>
										</div>
			
			
			
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">브랜드 명</label>
											<div class="col-lg-10">
												<select class="custom-select">
													<option value="opt1">브랜드 명 1</option>
													<option value="opt2">브랜드 명 2</option>
													<option value="opt3">브랜드 명 3</option>
													<option value="opt4">브랜드 명 4</option>
													<option value="opt5">브랜드 명 5</option>
													<option value="opt6">브랜드 명 6</option>
													<option value="opt7">브랜드 명 7</option>
													<option value="opt8">브랜드 명 8</option>
												</select>
											</div>
										</div>
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 이미지</label>
											<div class="col-lg-10">
												<input type="file" class="form-control h-auto">
											</div>
										</div>
										<div class="form-group row mt-3">
											<label class="col-form-label col-lg-2">작업 메모</label>
											<div class="col-lg-10">
												<textarea rows="3" cols="3" class="form-control" placeholder="작업 내용을 입력해 주세요."></textarea>
											</div>
										</div>
									</div>
			
									<div class="modal-footer pt-3">
										<button type="button" class="btn btn-link" data-dismiss="modal">닫기</button>
										<button type="button" class="btn btn-primary">작업 등록</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /scrollable modal -->
						

		</div>
		<!-- /main content -->

		<div class="sidebar sidebar-light sidebar-right sidebar-expand-lg sidebar-collapsed">
			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- Header -->
				<div class="sidebar-section sidebar-section-body d-flex align-items-center">
					<h5 class="mb-0 font-weight-bold">필터</h5>
					<div class="ml-auto">
						<button type="button" class="btn btn-outline-light text-body border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-right-toggle d-none d-lg-inline-flex">
							<i class="icon-transmission"></i>
						</button>

						<button type="button" class="btn btn-outline-light text-body border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-right-toggle d-lg-none">
							<i class="icon-cross2"></i>
						</button>
					</div>
				</div>
				<!-- /header -->


				<!-- Sidebar search -->
				<div class="sidebar-section ">
					<ul class="nav nav-sidebar my-2" data-nav-type="accordion">
						<li class="nav-item-header">코스 위치</li>
						<li class="nav-item pl-3 pr-3 course-location-badge">
							<a href="#"><span class="badge badge-info active">Hole 1</span></a> <!--코스 위치 라벨-->
							<a href="#"><span class="badge badge-info">Hole 2</span></a>
							<a href="#"><span class="badge badge-info">Hole 3</span></a>
							<a href="#"><span class="badge badge-info">Hole 4</span></a>
							<a href="#"><span class="badge badge-info">Hole 5</span></a>
							<a href="#"><span class="badge badge-info">Hole 6</span></a>
							<a href="#"><span class="badge badge-info">Hole 7</span></a>
							<a href="#"><span class="badge badge-info">Hole 8</span></a>
							<a href="#"><span class="badge badge-info">Hole 9</span></a>
							<a href="#"><span class="badge badge-info">Hole 10</span></a>
							<a href="#"><span class="badge badge-info">Hole 11</span></a>
							<a href="#"><span class="badge badge-info">Hole 12</span></a>
							<a href="#"><span class="badge badge-info">Hole 13</span></a>
							<a href="#"><span class="badge badge-info">Hole 14</span></a>
							<a href="#"><span class="badge badge-info">Hole 15</span></a>
							<a href="#"><span class="badge badge-info">Hole 16</span></a>
							<a href="#"><span class="badge badge-info">Hole 17</span></a>
							<a href="#"><span class="badge badge-info">Hole 18</span></a>
						</li>
					</ul>

					<ul class="nav nav-sidebar my-2" data-nav-type="accordion">
						<li class="nav-item-header">코스 유형</li>
						<li class="nav-item pl-3 pr-3 course-category-badge">
							<a href="#"><span class="badge badge-success active">Green</span></a><!--코스 유형 라벨-->
							<a href="#"><span class="badge badge-success">Fairway</span></a>						
						</li>
					</ul>

					<ul class="nav nav-sidebar my-2" data-nav-type="accordion">
						<li class="nav-item-header">작업 분류</li>
						<li class="nav-item pl-3 pr-3 work-class-badge">
							<a href="#"><span class="badge badge-warning active">갱신</span></a><!--작업 분류 라벨-->
							<a href="#"><span class="badge badge-warning">예고</span></a>				
							<a href="#"><span class="badge badge-warning">기타</span></a>				
						</li>
					</ul>
			
					<ul class="nav nav-sidebar my-2" data-nav-type="accordion">
						<li class="nav-item-header">작업 종류</li>
						<li class="nav-item pl-3 pr-3 work-category-badge">
							<a href="#"><span class="badge badge-secondary active">시비</span></a> <!--작업 종류 라벨-->
							<a href="#"><span class="badge badge-secondary">시약</span></a>				 					
						</li>
					</ul>


					 
							
					<ul class="nav nav-sidebar my-2" >
						<li class="nav-item pl-3 pr-3">
							<button type="button" class="btn btn-primary btn-block">검색하기<i class="icon-search4 ml-2"></i></button>
						</li>
					</ul>

					
				</div>
				<!-- /sidebar search -->

			</div>
			<!-- /sidebar content -->

		</div>


	</div>
	<!-- /page content -->

	<!-- twentytwenty -->
	<script src="assets/js/jquery.event.move.js"></script>
	<script src="assets/js/jquery.twentytwenty.js"></script>
	<script>
		$(function(){
			$(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
			$(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
		});
	</script>
	<!-- twentytwenty end -->

</body>
</html>
