@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

.layer-card {
    width: 300px;
}

.layer-card-large {
    width: 600px;
}

.chart-card {
    height: 350px
}

.robot-card {
    height: 350px
}

.scrolled {
    overflow: auto;
}

.course1 {
    top: 20%;
    left: 30%;
}

.course2 {
    top: 60%;
    left: 35%;
}

.course3 {
    top: 50%;
    left: 60%;
}

.course4 {
    top: 10%;
    left: 65%;
}

.course-sm .card-title {
    font-size:11px;
}

.course-sm .badge {
    font-size:10px;
    padding: 3px;
}

.course-sm .weather-wrap {
    height: auto;
}

.course-sm .weather-box {
    width:auto;
    padding: 0 10px;
}

.course-sm .card-body {
    padding:0 4px;
}

.course-sm h2, .course-sm h4 {
    font-size:13px;
}

.course-sm .font-size-sm {
    font-size:11px;
}


.course-tab {
    right: 16px;
    top: 10px;
}

.sidebar-small {
    border-right: 1px solid rgba(0, 0, 0, .125)
}

.weather-unit {
    font-size: .5rem;
}

.weather-wrap {
    height: 70px;
}

.weather-box {
    width: 80px;
    padding-top: 8px;
}

/* .navbar-nav-link {
    padding: 0.5rem 1.25rem;
    border-radius: 46px;
    margin-right:10px;
}

.navbar-light .navbar-nav-link.active {
    color: #fff;
    font-weight: 700;
    background-color: #2196f3;
} */

/* .navbar-light {
    height:55px;
}

.navbar-nav {
    margin-top:8px;
}

.navbar-nav-link {
    padding: .5rem 1.25rem;
}



.navbar-light .navbar-nav-link.active {
    border-top:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(0,0,0,0.1);
    border-right:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid #fff;
    border-radius:10px 10px 0 0;
    background:#fff;
} */

.course1,
.course2,
.course3,
.course4,
.layer-card,
.card-title,
.card-header-round {
    border-radius: 20px !important;
}

.card-title {
    overflow: hidden;
}

.course1 .card-header-round,
.course2 .card-header-round,
.course3 .card-header-round,
.course4 .card-header-round {
    border-radius: 15px 15px 0 0 !important;
}

.content-wrap {
    border-radius: 10px;
    overflow: hidden;
}

.navbar-light .navbar-nav-link.active {
    border-bottom: 2px solid rgb(33, 150, 243);
    box-sizing: border-box;
    background: #fff;
}

.list-icons {
    justify-content: center;
}

.chart-close::after {
    font-size: 20px;
    margin-left: 8px;
}

.course-location-badge .active {
    background: #34919d;
}

.course-category-badge .active {
    background: #268158;
}

.work-class-badge .active {
    background: #e67432;
}

.work-category-badge .active {
    background: #284857;
}

.robot1 {
    top: 20%;
    left: 50%;
}

.robot2 {
    top: 40%;
    left: 60%;
}

.robot-active {
    background: #f35c86 !important;
}

.robot-active a span {
    color: #fff !important;
}

.robot-active .btn.border-2.btn-icon {
    border-color: #fff !important;
}

.btn-round {
    width: 100px;
    height: 100px;
    background: #2196f3;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.layout-boxed {
    box-shadow: none;
}

.more-round {
    border-radius: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.more-round .card-header {
    border-radius: 20px 20px 0 0;
}

@media (max-width: 992px) {
    .sidebar-expand-lg.sidebar-main-resized:not(.sidebar-main-unfold) .sidebar-section-body {
        display: none;
    }

    .sidebar-expand-lg.sidebar-collapsed .btn-sidebar-expand {
        align-items: flex-start;
    }

    .sidebar-right-toggle {
        display:none;
    }
}


/*2023-10-05 추가 - progress bar*/

.control-movi-wrap {
    background:#fff;
    border-radius:0.4rem;
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    text-align:center;
}

.btn-wrap {
    /* margin-left: 21%; */
}

/* .now-date {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
} */

.image-player-wrapper {
    position: absolute;
    bottom: 10px;
    width: 99%;
    left: 50%;
    margin-left: -49%;
    padding: 11px 10px 0 0;
    border-radius: 11px;
}

.image-player-btn {
    position:absolute;
    bottom:85px;
    right:20px;
    z-index:1;
    background:#ececec;
    border-radius: 20px;
    padding: 2px 3px 2px 10px;
}

.image-player-btn button {
    width:30px;
    height:30px;
    border: 2px solid #ddd;
    background:#fff;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.player-open {
    bottom:20px;
}

.image-player-btn span {
    color:#999;
    cursor: pointer;
}

.image-player-btn button i {
    color:#ddd;
}

.image-player-btn:hover button {
    border:2px solid #2cbacc;
    
}

.image-player-wrapper .control-movi-wrap .start-btn:hover, .image-player-wrapper .control-movi-wrap .stop-btn:hover, .control-movi-wrap .pause-btn:hover, .image-player-btn:hover i, .image-player-btn:hover span {
    color:#2cbacc;
    -webkit-font-smoothing: antialiased;
}

.image-player-wrapper .control-movi-lap {
    /* position: absolute;
    top: 50%;
    left: 65px;
    margin-top: -6px;
    width: calc(100% - 85px); */
    padding:8px 10px; 
    width:100%;
    float:left;
}


.image-player-wrapper .control-movi-lap .movi-line {
    width: 100%;
    z-index: 3;
    display:flex;
    justify-content: space-between;
    margin-top: 33px;
}


.image-player-wrapper .control-movi-wrap .movi-line .slider-handle {
    border-radius: 4px;
    min-width: 130px;
    height: 30px;
    text-align: center;
    /* line-height: 30px; */
    /* transform: translateX(-95%); */
    z-index:99999;
    margin-top:-35px;
    border: 1px solid #b7b7b7;
}

.image-player-wrapper .control-movi-wrap .movi-line .ui-state-default {
    background: #fff;
    color: #999;
}

.image-player-wrapper .control-movi-wrap .movi-line .ui-state-on {
    background: #2cbacc;
    color: #fff;
}

.image-player-wrapper .control-movi-wrap .movi-bar-wrap {
    background:#ddd;
    padding:5px;
    border-radius:10px;
}

.image-player-wrapper .control-movi-wrap .movi-bar {
    /* position: absolute;
    left: 0;
    top: 4px; */
    background: #2cbacc;
    height: 5px;
    z-index: 3;
    top: 43px;
}

.image-player-wrapper .control-movi-lap:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    /* position: absolute;
    left: 0;
    top: 4px; */
    background: #fff;
}

.navbar-light .navbar-nav-link:focus, .navbar-light .navbar-nav-link:hover {
    border-bottom: 2px solid rgb(33, 150, 243);
    box-sizing: border-box;
    background: #fff;
    color:rgb(33, 150, 243);
}

.all-bg {
    background:url('../img/background1.png')no-repeat 100% 100%;
    background-size:cover;
}
@media (max-width: 992px) {
    .btn-wrap {
        margin-left: 0;
    }
    
}

@media (max-width: 670px) {
    .image-player-wrapper .control-movi-wrap .movi-line {
        flex-direction: column;
    }

    .movi-line {
        display: none!important;
    }

    .btn-wrap {
        margin-left: 0;
    }
    
    .image-player-wrapper .control-movi-lap .movi-line {
        height:150px;
    }

    .image-player-wrapper .control-movi-wrap .movi-bar-wrap {
        margin-top:10px;
    }

    .image-player-btn {
        bottom: 212px;
    }

    .player-open {
        bottom:10px;
    }    

    .control-movi-wrap .btn-wrap button {
        padding: 5px 0 0 0;
    }

    .control-movi-wrap .btn-wrap button i {
        margin: 0;
    }

}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light {
    color: #f5f5f5;
    background-color: #333;
    border-color: #777;
}