<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="courseMapper">

	<resultMap type="holeInfoDTO" id="holeInfoMap" autoMapping="true">
		<id property="hole_No" column="HOLE_NO"/>
		<result property="course_Type" column="COURSE_TYPE"/>
		<result property="hole_Name" column="HOLE_NAME"/>
		<result property="lat" column="LAT"/>
		<result property="lon" column="LON"/>
		<collection property="sensorInfoList" column="HOLE_NO" ofType="SensorInfoDTO" javaType="List" autoMapping="true">
			<id column="SENSOR_NO" property="sensor_No"/>
			<result property="sensor_Name" column="SENSOR_NAME"/>
			<result property="sensor_No" column="SENSOR_NO"/>
			<result property="Sensor_Type" column="SENSOR_TYPE"/>
			<result property="hole_No" column="HOLE_NO"/>
			<result property="course_Type" column="COURSE_TYPE"/>
			<result property="lat" column="LAT"/>
			<result property="lon" column="LON"/>
			<result property="last_Updated" column="LAST_UPDATED"/>
<!-- 			<result property="" column=""/> -->
			<collection property="weatherDataList" column="SENSOR_NO" ofType="weatherDataDTO" javaType="List" autoMapping="true">
				<id column="SENSOR_NO" property="sensor_No"/>
				<id column="TM" property="tm"/>
				<result property="temp" column="TEMP"/>
				<result property="humi" column="HUMI"/>
				<result property="wd" column="WD"/>
				<result property="ws" column="WS"/>
				<result property="light" column="LIGHT"/>
				<result property="rain" column="RAIN"/>
				<result property="solar" column="SOLAR"/>
			</collection>
			<collection property="ndviDataList" column="SENSOR_NO" ofType="ndviDataDTO" javaType="List" autoMapping="true">
				<result property="img_Path" column="IMG_PATH"/>
				<result property="ndvi" column="NDVI"/>
			</collection>
		</collection>
		<collection property="robotInfoList" column="HOLE_NO" ofType="RobotInfoDTO" javaType="List" autoMapping="true">
			<id column="ROBOT_NO" property="robot_No"/>
			<result property="robot_No" column="ROBOT_NO"/>
			<result property="lat" column="LAT"/>
			<result property="lon" column="LON"/>
			<collection property="soilDataList" column="ROBOT_NO" ofType="soilDataDTO" javaType="List" autoMapping="true">
				<result property="lat" column="LAT"/>
				<result property="lon" column="LON"/>
				<result property="smo" column="SMO"/>
				<result property="stp" column="STP"/>
				<result property="sec" column="SEC"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="workReportDTO" id="workReportInfo" autoMapping="true">
		<id property="work_No" column="WORK_NO"/>
		<result property="user_Id" column="USER_ID"/>
		<result property="write_At" column="WRITE_AT"/>
		<result property="work_Start" column="WORK_START"/>
		<result property="work_End" column="WORK_END"/>
		<result property="work_Class" column="WORK_CLASS"/>
		<result property="work_Type" column="WORK_TYPE"/>
		<result property="work_Comment" column="WORK_COMMENT"/>
		<result property="work_State" column="WORK_STATE"/>
		<collection property="workReportImageList" column="WORK_NO" ofType="WorkReportImageDTO" javaType="List" autoMapping="true">
				<id column="IMG_NO" property="img_No"/>
				<result property="work_No" column="WORK_NO"/>
				<result property="file_Path" column="FILE_PATH"/>
				<result property="ori_Name" column="ORI_NAME"/>
				<result property="save_Name" column="SAVE_NAME"/>
		</collection>
		<collection property="workReportTargetList" column="WORK_NO" ofType="WorkReportTargetDTO" javaType="List" autoMapping="true">
				<id column="TARGET_NO" property="target_No"/>
				<result property="work_No" column="WORK_NO"/>
				<result property="hole_No" column="HOLE_NO"/>
				<result property="course_Type" column="COURSE_TYPE"/>
		</collection>
	</resultMap>
	
	<resultMap type="workReportBrandDefDTO" id="brandInfoMap">
		<result column="BRAND_NO" property="brand_No"/>
		<result column="BRAND_NAME" property="brand_Name"/>
		<result column="WORK_TYPE" property="work_Type"/>
		<result column="BRAND_IMG" property="brand_Img"/>
	</resultMap>

	<select id="holename" resultType="egovMap">
		SELECT HOLE_NAME, HOLE_NO FROM HOLE_INFO GROUP BY HOLE_NAME, HOLE_NO
	</select>

	<select id="holedata" resultType="egovMap">
		SELECT * FROM HOLE_INFO
	</select>

	<select id="branddata" parameterType="map" resultMap="brandInfoMap">
		SELECT * FROM WORK_REPORT_BRAND_DEF WHERE WORK_TYPE = #{worktype}
	</select>
	
	<insert id="insertworkreport" parameterType="map">
		INSERT INTO WORK_REPORT(WRITE_AT, WORK_START, WORK_END, WORK_CLASS, WORK_TYPE, WORK_COMMENT)
		VALUES(now(), #{workstart},#{workend},#{workclass},#{worktype},#{comment})
	</insert>
	
	<insert id="insertworkreporttarget" parameterType="map">
		INSERT INTO WORK_REPORT_TARGET (WORK_NO, HOLE_NO, COURSE_TYPE)
		VALUES ((select max(work_no) from WORK_REPORT)
				,(SELECT HOLE_NO  from HOLE_INFO WHERE HOLE_NAME = #{hole} and COURSE_TYPE = #{course})
				,#{course})
	</insert>
	
	<insert id="insertworkreportimg" parameterType="map">
		INSERT INTO WORK_REPORT_IMAGE (WORK_NO, FILE_PATH, ORI_NAME, SAVE_NAME)
		VALUES ((SELECT MAX(work_no) FROM WORK_REPORT),	#{filePath}, #{oriImgName}, #{saveName})
	</insert>
	
	
	<select id="workReportAllList" parameterType="egovMap" resultMap="workReportInfo">
		SELECT WR.*, WRT.HOLE_NO, WRT. COURSE_TYPE, WRI.FILE_PATH 
		FROM WORK_REPORT WR
		JOIN WORK_REPORT_TARGET WRT ON WR.WORK_NO = WRT.WORK_NO 
		JOIN WORK_REPORT_IMAGE WRI ON WR.WORK_NO = WRI.WORK_NO 
	</select>




</mapper>