<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dashboardMapper">

	<resultMap type="holeInfoDTO" id="holeInfoMap" autoMapping="true">
		<id property="holeNo" column="HOLE_NO"/>
		<result property="holeNo" column="HOLE_NO"/>
		<result property="courseType" column="COURSE_TYPE"/>
		<result property="holeName" column="HOLE_NAME"/>
		<result property="lat" column="LAT"/>
		<result property="lon" column="LON"/>
		<collection property="sensorInfoList" column="HOLE_NO" ofType="SensorInfoDTO" javaType="List" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
			<result property="sensorNo" column="SENSOR_NO"/>
			<result property="sensorName" column="SENSOR_NAME"/>
			<result property="SensorType" column="SENSOR_TYPE"/>
			<result property="holeNo" column="HOLE_NO"/>
			<result property="courseType" column="COURSE_TYPE"/>
			<result property="lat" column="LAT"/>
			<result property="lon" column="LON"/>
			<result property="lastUpdated" column="LAST_UPDATED"/>
<!-- 			<result property="" column=""/> -->
			<collection property="weatherDataList" column="SENSOR_NO" ofType="weatherDataDTO" javaType="List" autoMapping="true">
				<id column="SENSOR_NO" property="sensorNo"/>
				<id column="TM" property="tm"/>
				<result property="sensorNo" column="SENSOR_NO"/>
				<result property="tm" column="TM"/>
				<result property="temp" column="TEMP"/>
				<result property="humi" column="HUMI"/>
				<result property="wd" column="WD"/>
				<result property="ws" column="WS"/>
				<result property="light" column="LIGHT"/>
				<result property="rain" column="RAIN"/>
				<result property="solar" column="SOLAR"/>
			</collection>
			<collection property="ndviDataList" column="SENSOR_NO" ofType="ndviDataDTO" javaType="List" autoMapping="true">
				<result property="imgPath" column="IMG_PATH"/>
				<result property="ndvi" column="NDVI"/>
			</collection>
		</collection>
		<collection property="robotInfoList" column="HOLE_NO_NOW" ofType="RobotInfoDTO" javaType="List" autoMapping="true">
			<id column="ROBOT_NO" property="robotNo"/>
			<result property="robotNo" column="ROBOT_NO"/>
			<result property="holeNoNow" column="HOLE_NO_NOW"/>
			<result property="courseTypeNow" column="COURSE_TYPE_NOW"/>
			<result property="robotName" column="ROBOT_NAME"/>
			<result property="robotType" column="ROBOT_TYPE"/>
			<result property="robotState" column="ROBOT_STATE"/>
			<result property="lat" column="LAT"/>
			<result property="lon" column="LON"/>
			<collection property="soilDataList" column="ROBOT_NO" ofType="soilDataDTO" javaType="List" autoMapping="true">
				<result property="robotNo" column="ROBOT_NO"/>
				<result property="lat" column="LAT"/>
				<result property="lon" column="LON"/>
				<result property="smo" column="SMO"/>
				<result property="stp" column="STP"/>
				<result property="sec" column="SEC"/>
			</collection>
		</collection>
	</resultMap>
	
	<resultMap type="WorkNotificationDTO" id="workNotiList" autoMapping="true">
		<id property="notiNo" column="NOTI_NO"/>
		<result property="manageUserNo" column="MANAGE_USER_NO"/>
		<result property="workerUserNo" column="WORKER_USER_NO"/>
		<result property="tm" column="tm"/>
		<result property="deadlineStart" column="DEADLINE_START"/>
		<result property="deadlineEnd" column="DEADLINE_END"/>
		<result property="notiTitle" column="NOTI_TITLE"/>
		<result property="notiHole" column="NOTI_HOLE"/>
		<result property="notiCourse" column="NOTI_COURSE"/>
		<result property="notiClass" column="NOTI_CLASS"/>
		<result property="notiType" column="NOTI_TYPE"/>
		<result property="notiState" column="NOTI_STATE"/>
		<result property="workerName" column="workerName"/>
		<result property="managerName" column="managerName"/>
		<collection property="userList" ofType="userInfoDTO" javaType="List" autoMapping="true">
			<id property="userNo" column="USER_NO"/>
			<result property="userPw" column="USER_PW"/>
			<result property="userName" column="USER_NAME"/>
			<result property="hp" column="HP"/>
			<result property="email" column="EMAIL"/>
			<result property="regiDate" column="REGI_DATE"/>
			<result property="lastLogin" column="LAST_LOGIN"/>
			<result property="userGrade" column="USER_GRADE"/>
			<result property="userDepartment" column="USER_DEPARTMENT"/>
		</collection>
	</resultMap>

	<select id="test" resultType="egovMap">
		SELECT * FROM HOLE_INFO 				
	</select>
	
	<select id="hole" parameterType="egovMap" resultMap="holeInfoMap">
		SELECT * FROM HOLE_INFO WHERE COURSE_TYPE = #{category} 
		<choose>
	        <when test="listsort == 'ASC'">
	            ORDER BY HOLE_NO ASC
	        </when>
	        <otherwise>
	            ORDER BY HOLE_NO DESC
	        </otherwise>
	    </choose>
	</select>
	
	<select id="weather" parameterType="egovMap" resultMap="holeInfoMap">
		SELECT * FROM SENSOR_INFO S
		JOIN WEATHER_DATA W 
		ON S.SENSOR_NO = W.SENSOR_NO 
		WHERE S.COURSE_TYPE = #{category} AND (S.HOLE_NO, W.TM) IN (
		    SELECT HOLE_NO, MAX(TM)
		    FROM SENSOR_INFO
		    JOIN WEATHER_DATA ON SENSOR_INFO.SENSOR_NO = WEATHER_DATA.SENSOR_NO AND SENSOR_INFO.COURSE_TYPE = #{category}
		    GROUP BY HOLE_NO
		)
		<choose>
	        <when test="listsort == 'ASC'">
	            ORDER BY S.HOLE_NO ASC
	        </when>
	        <otherwise>
	            ORDER BY S.HOLE_NO DESC
	        </otherwise>
	    </choose>
	</select>
	
	<select id="ndviData" parameterType="egovMap" resultMap="holeInfoMap">
		SELECT * FROM SENSOR_INFO S
		JOIN NDVI_DATA N
		ON S.SENSOR_NO = N.SENSOR_NO 
		WHERE S.COURSE_TYPE = #{category} AND (S.HOLE_NO, N.TM) IN (
		    SELECT HOLE_NO, MAX(TM)
		    FROM SENSOR_INFO
		    JOIN NDVI_DATA ON SENSOR_INFO.SENSOR_NO = NDVI_DATA.SENSOR_NO AND SENSOR_INFO.COURSE_TYPE = #{category}
		    GROUP BY HOLE_NO
		)
		<choose>
	        <when test="listsort == 'ASC'">
	            ORDER BY S.HOLE_NO ASC
	        </when>
	        <otherwise>
	            ORDER BY S.HOLE_NO DESC
	        </otherwise>
	    </choose>
	</select>
	
	<select id="soilData" parameterType="egovMap" resultMap="holeInfoMap">
		SELECT * FROM ROBOT_INFO R
		JOIN SOIL_DATA S ON R.ROBOT_NO = S.ROBOT_NO 
		WHERE S.COURSE_TYPE = #{category} AND (S.HOLE_NO, S.TM) IN (
			SELECT HOLE_NO, MAX(TM) 
			FROM ROBOT_INFO
			JOIN SOIL_DATA on ROBOT_INFO.ROBOT_NO = SOIL_DATA.ROBOT_NO and SOIL_DATA.COURSE_TYPE = #{category}
			GROUP by SOIL_DATA.HOLE_NO 
		)
		<choose>
	        <when test="listsort == 'ASC'">
	            ORDER BY S.HOLE_NO ASC
	        </when>
	        <otherwise>
	            ORDER BY S.HOLE_NO DESC
	        </otherwise>
	    </choose>
	</select>

	<select id="getNotiListCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) 
		FROM work_notification wn
		<if test="userRole == '관리자'">
		JOIN user_info AS ui1 ON wn.WORKER_USER_NO = ui1.USER_NO
		WHERE MANAGE_USER_NO = ${userNo}
		</if>
		<if test="userRole == '작업자'">
		JOIN user_info AS ui2 ON wn.MANAGE_USER_NO = ui2.USER_NO
		WHERE WORKER_USER_NO = ${userNo}
		</if>
	</select>

	<select id="completelistCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) 
		FROM work_notification wn
		<if test="userRole == '관리자'">
		JOIN user_info AS ui1 ON wn.WORKER_USER_NO = ui1.USER_NO
		WHERE MANAGE_USER_NO = ${userNo}
		</if>
		<if test="userRole == '작업자'">
		JOIN user_info AS ui2 ON wn.MANAGE_USER_NO = ui2.USER_NO
		WHERE WORKER_USER_NO = ${userNo}
		</if>
		AND NOTI_STATE = '완료';
	</select>

	<select id="getSearchNotiListCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM work_notification
	    <if test="searchType == 'date'">
	        WHERE DEADLINE_START >= #{deadlineStart} AND DEADLINE_END  &lt;= #{deadlineEnd}
	    </if>
	    <if test="searchType == 'course'">
	        WHERE NOTI_COURSE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'holeNo'">
	        WHERE NOTI_HOLE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'class'">
	        WHERE NOTI_CLASS LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'type'">
	        WHERE NOTI_TYPE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	</select>

	<select id="searchcompletelistCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM work_notification
	    <if test="searchType == 'date'">
	        WHERE DEADLINE_START >= #{deadlineStart} AND DEADLINE_END  &lt;= #{deadlineEnd}
	    </if>
	    <if test="searchType == 'course'">
	        WHERE NOTI_COURSE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'holeNo'">
	        WHERE NOTI_HOLE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'class'">
	        WHERE NOTI_CLASS LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'type'">
	        WHERE NOTI_TYPE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    AND NOTI_STATE = '완료';
	</select>
	
	<select id="getSearchNotiList" parameterType="map" resultMap="workNotiList">
		SELECT wn.*, 
		<if test="userRole == '관리자'">
		ui1.USER_NAME
		</if>
		<if test="userRole == '작업자'">
		ui2.USER_NAME
		</if>
		FROM work_notification AS wn
		<if test="userRole == '관리자'">
		JOIN user_info AS ui1 ON wn.WORKER_USER_NO = ui1.USER_NO
		WHERE MANAGE_USER_NO = ${userNo}
		</if>
		<if test="userRole == '작업자'">
		JOIN user_info AS ui2 ON wn.MANAGE_USER_NO = ui2.USER_NO
		WHERE WORKER_USER_NO = ${userNo}
		</if>
	    <if test="searchType == 'date'">
	        AND DEADLINE_START >= #{deadlineStart} AND DEADLINE_END  &lt;= #{deadlineEnd}
	    </if>
	    <if test="searchType == 'course'">
	        AND NOTI_COURSE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'holeNo'">
	        AND NOTI_HOLE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'class'">
	        AND NOTI_CLASS LIKE CONCAT('%', #{searchText}, '%')
	    </if>
	    <if test="searchType == 'type'">
	        AND NOTI_TYPE LIKE CONCAT('%', #{searchText}, '%')
	    </if>
		ORDER BY wn.TM desc LIMIT ${startIndex},${pageSize}
	</select>

		
	<select id="getNotiList" parameterType="map" resultMap="workNotiList">
		SELECT wn.*, 
		<if test="userRole == '관리자'">
		ui1.USER_NAME
		</if>
		<if test="userRole == '작업자'">
		ui2.USER_NAME
		</if>
		FROM work_notification AS wn
		<if test="userRole == '관리자'">
		JOIN user_info AS ui1 ON wn.WORKER_USER_NO = ui1.USER_NO
		WHERE MANAGE_USER_NO = ${userNo}
		</if>
		<if test="userRole == '작업자'">
		JOIN user_info AS ui2 ON wn.MANAGE_USER_NO = ui2.USER_NO
		WHERE WORKER_USER_NO = ${userNo}
		</if>
		ORDER BY wn.TM desc LIMIT ${startIndex},${pageSize}
	</select>

	<select id="getHeaderNoti" parameterType="map" resultMap="workNotiList">
		SELECT wn.*, 
		<if test="userRole == '관리자'">
		ui1.USER_NAME
		</if>
		<if test="userRole == '작업자'">
		ui2.USER_NAME
		</if>
		FROM work_notification AS wn
		<if test="userRole == '관리자'">
		JOIN user_info AS ui1 ON wn.WORKER_USER_NO = ui1.USER_NO
		WHERE MANAGE_USER_NO = ${userNo}
		</if>
		<if test="userRole == '작업자'">
		JOIN user_info AS ui2 ON wn.MANAGE_USER_NO = ui2.USER_NO
		WHERE WORKER_USER_NO = ${userNo}
		</if>
		ORDER BY wn.TM desc 
	</select>
	
	<insert id="insertNotiWork" parameterType="map">
		INSERT INTO WORK_NOTIFICATION(TM, DEADLINE_START, DEADLINE_END, NOTI_TITLE, NOTI_HOLE, NOTI_COURSE, NOTI_CLASS, NOTI_TYPE, MANAGE_USER_NO, WORKER_USER_NO)
		VALUES(now(), #{workStart},#{workEnd},#{notiTitle},#{hole},#{course},#{workClass},#{workType},#{userNo},#{workerNo})
	</insert>
	
	<select id="selectNotiWorkData" parameterType="map" resultType="workNotificationDTO">
		SELECT * FROM work_notification WHERE NOTI_NO = #{notiNo}
	</select>
		
	<update id="updateNotiWork" parameterType="map">
		UPDATE work_notification 
		SET
			DEADLINE_START = #{workStart},
			DEADLINE_END =	 #{workEnd},
			NOTI_TITLE = #{notiTitle},
			NOTI_HOLE =  #{hole},
			NOTI_COURSE = #{course},
			NOTI_CLASS=#{workClass},
			NOTI_TYPE =  #{workType},
			MANAGE_USER_NO =#{userNo},
			WORKER_USER_NO =#{workerNo} 
		WHERE NOTI_NO=#{notiNo}
	</update>
		
	<update id="updateNotiState" parameterType="map">
		UPDATE work_notification 
		SET	NOTI_STATE = #{notiState} WHERE NOTI_NO=#{notiNo}
	</update>
		
	<delete id="deleteNoti" parameterType="map">
		DELETE FROM work_notification WHERE NOTI_NO=#{notiNo}
	</delete>

</mapper>