<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reportCourseMapper">

	<resultMap type="holeInfoDTO" id="holeInfoMap" autoMapping="true">
		<id property="holeNo" column="HOLE_NO"/>
		<collection property="sensorInfoList" column="HOLE_NO" ofType="SensorInfoDTO" javaType="List" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
			<id column="HOLE_NO" property="holeNo"/>
			<collection property="weatherDataList" column="HOLE_NO" ofType="WeatherDataDTO" javaType="List" autoMapping="true">
				<id column="SENSOR_NO" property="sensorNo"/>
				<id column="TM" property="tm"/>
			</collection>
		</collection>
		<collection property="robotInfoList" column="HOLE_NO" ofType="RobotInfoDTO" javaType="List" autoMapping="true">
			<id column="ROBOT_NO" property="robotNo"/>
			<id column="HOLE_NO_NOW" property="holeNoNow"/>
		</collection>

	</resultMap>
	
	
	
	<resultMap type="holeInfoDTO" id="holeInfoMap2" autoMapping="true">
		<association property="sensorInfo" javaType="SensorInfoDTO" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
		</association>
		<association property="weatherData" javaType="WeatherDataDTO" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
			<id column="TM" property="tm"/>
		</association>
	</resultMap>
	
	
	<resultMap type="holeInfoDTO" id="holeInfoMap3" autoMapping="true">
		<association property="sensorInfo" javaType="SensorInfoDTO" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
		</association>
		<association property="ndviData" javaType="NdviDataDTO" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
			<id column="TM" property="tm"/>
			<result column="NDVI" property="ndvi"/>
		</association>
	</resultMap>
	 
	 
	<resultMap type="holeInfoDTO" id="holeInfoMap4" autoMapping="true">
		<association property="robotInfo" javaType="RobotInfoDTO" autoMapping="true">
			<id column="ROBOT_NO" property="robotNo"/>
		</association>
		<association property="soilData" javaType="SoilDataDTO" autoMapping="true">
			<id column="ROBOT_NO" property="robotNo"/>
			<id column="TM" property="tm"/>
		</association>
	</resultMap>


	<!-- 
	<resultMap id="holeInfoMap" type="holeInfoDTO" autoMapping="true">
	  <id property="holeNo" column="HOLE_NO"/>
	  <result property="courseType" column="COURSE_TYPE"/>
	  <result property="holeName" column="HOLE_NAME"/>
	  <result property="lat" column="LAT"/>
	  <result property="lon" column="LON"/>
	  <collection property="items" ofType="Item">
	    <id property="id" column="item_id"/>
	    <result property="name" column="item_name"/>
	    <result property="quantity" column="item_quantity"/>
	    <collection property="details" ofType="Detail">
	      <id property="id" column="detail_id"/>
	      <result property="description" column="detail_description"/>
	    </collection>
	  </collection>
	</resultMap>
	-->


	
	<select id="holeSensorList" resultMap="holeInfoMap">
		SELECT * FROM HOLE_INFO
		JOIN SENSOR_INFO ON HOLE_INFO.HOLE_NO = SENSOR_INFO.HOLE_NO
		JOIN ROBOT_INFO ON HOLE_INFO.HOLE_NO = ROBOT_INFO.HOLE_NO_NOW
	</select>
	
	<select id="weatherData" parameterType="map" resultMap="holeInfoMap2">
		SELECT * FROM SENSOR_INFO S
		JOIN WEATHER_DATA W ON S.SENSOR_NO = W.SENSOR_NO and S.COURSE_TYPE = #{category} and S.HOLE_NO = #{hole}
		ORDER BY TM DESC
	</select>
	
	
	<select id="ndviData" parameterType="map" resultMap="holeInfoMap3">
		SELECT * FROM SENSOR_INFO S
		JOIN NDVI_DATA N ON S.SENSOR_NO = N.SENSOR_NO and S.COURSE_TYPE = #{category} and S.HOLE_NO = #{hole}
		ORDER BY TM DESC
	</select>
	 
	 
	<select id="soilData" parameterType="map" resultMap="holeInfoMap4">
		SELECT * FROM ROBOT_INFO R
		JOIN SOIL_DATA S ON R.ROBOT_NO = S.ROBOT_NO and S.COURSE_TYPE = #{category} and S.HOLE_NO = #{hole}
		ORDER BY TM DESC
	</select>
	



</mapper>