<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

	<resultMap type="userInfoDTO" id="userInfoMap" autoMapping="true">
		<id column="USER_ID" property="userId"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="hp" column="HP"/>
		<result property="email" column="EMAIL"/>
		<result property="regiDate" column="REGI_DATE"/>
		<result property="lastLogin" column="LAST_LOGIN"/>
		<result property="userGrade" column="USER_GRADE"/>
		<result property="userDepartment" column="USER_DEPARTMENT"/>
		<collection property="userAuthList" column="USER_ID" ofType="userAuthDTO" javaType="List" autoMapping="true">
			<id column="USER_ID" property="userId"/>
			<result property="userId" column="USER_ID"/>
			<result property="auth" column="AUTH"/>
		</collection>
		<collection property="userImage" column="USER_ID" ofType="userImageDTO" javaType="List" autoMapping="true">
			<id column="USER_ID" property="userId"/>
			<result property="userImgNo" column="USER_IMG_NO"/>
			<result property="userNo" column="USER_NO"/>
			<result property="userId" column="USER_ID"/>
			<result property="userImgFilePath" column="USER_IMG_FILE_PATH"/>
			<result property="userImgOriName" column="USER_IMG_ORI_NAME"/>
			<result property="userImgSaveName" column="USER_IMG_SAVE_NAME"/>
		</collection>
	</resultMap>
	
	
	<resultMap type="sensorInfoDTO" id="sensorInfoMap" autoMapping="true">
		<id property="sensorNo" column="SENSOR_NO"/>
		<collection property="weatherDataList" column="SENSOR_NO" ofType="weatherDataDTO" javaType="List" autoMapping="true">
			<id column="SENSOR_NO" property="sensorNo"/>
			<id column="TM" property="tm"/>
		</collection>
	</resultMap>

	<!-- 회원가입 -->
	<!-- user 전체 조회 -->
	<select id="userList" resultType="egovMap">
		SELECT * FROM USER_INFO
	</select>
	
	<!-- 회원등급 수정 조회 -->
	<select id="userGradeModifyList" resultType="userInfoDTO">
		SELECT * FROM USER_INFO
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="userInfoModify" parameterType="userInfoDTO">
		UPDATE USER_INFO SET USER_GRADE = #{userGrade}, USER_NAME = #{userName}, USER_DEPARTMENT = #{userDepartment}, EMAIL = #{userEmail}, HP = #{userPhone}
		WHERE USER_NO = #{userNo}
	</update>

	<select id="test" resultType="userInfoDTO">
		SELECT * FROM USER_INFO
	</select>
	
	<select id="collectTest" resultType="egovMap">
		SELECT * FROM SENSOR_INFO JOIN WEATHER_DATA
		USING(SENSOR_NO)
	</select>
	
	<select id="selectUserById" parameterType="string" resultType="userInfoDTO">
		SELECT * FROM USER_INFO WHERE USER_ID=#{value}
	</select>
	
	<select id="selectAuthorityByUserId" parameterType="string" resultType="userAuthDTO">
		SELECT * FROM USER_AUTH WHERE USER_ID=#{value}
	</select>
	
	<select id="getUserListCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM USER_INFO
	</select>
	
	<select id="getUserList" parameterType="map" resultType="userInfoDTO">
		SELECT * FROM USER_INFO 
		LIMIT ${startIndex},${pageSize}
	</select>
	
	<update id="updateUserPw" parameterType="map">
		UPDATE USER_INFO SET USER_PW=#{userPw} WHERE USER_ID=#{userId}
	</update>
	
	<update id="updateUserInfo" parameterType="userInfoDTO">
		UPDATE USER_INFO SET EMAIL=#{email} , HP=#{hp}, USER_IMG_FILE_PATH=#{userImgFilePath}, USER_IMG_ORI_NAME=#{userImgOriName}, USER_IMG_SAVE_NAME=#{userImgSaveName}
		WHERE USER_ID=#{userId}
	</update>
		
	<insert id="userInsert" parameterType="map">
		INSERT INTO USER_INFO(USER_NAME, USER_GRADE, USER_DEPARTMENT, USER_ID, USER_PW, HP, EMAIL, REGI_DATE, USER_IMG_FILE_PATH, USER_IMG_ORI_NAME, USER_IMG_SAVE_NAME)
		VALUES(#{userName}, #{userGrade}, #{userDepartment}, #{userId}, #{userPw}, #{userPhone}, #{userEmail}, NOW(), #{userImgFilePath}, #{userImgOriName}, #{userImgSaveName})
	</insert>
		
	<insert id="userRoleInsert" parameterType="map">
		INSERT INTO USER_AUTH(USER_ID, AUTH)
		VALUES(#{userId},
			<choose>
				<when test="userGrade == '관리자'">
					'ROLE_ADMIN'
				</when>
				<when test="userGrade == '작업자'">
					'ROLE_USER'
				</when>
				<otherwise>
					''
				</otherwise>
			</choose>
		)
	</insert>

	
	<!-- 회원아이디 중복 조회 -->
	<select id="userIdChk" resultType="int">
		SELECT COUNT(*) FROM USER_INFO WHERE USER_ID = #{userID}
	</select>
	
	
	<!-- 회원 이미지 추가 -->
	<insert id="insertUserImg" parameterType="map">
		INSERT INTO USER_IMAGE (USER_NO, USER_ID, USER_IMG_FILE_PATH, USER_IMG_ORI_NAME, USER_IMG_SAVE_NAME)
		VALUES (
		<if test="userNo!=null and !userNo.equals('')">
		#{userNo},
		</if>
		<if test="userNo==null or userNo.equals('')">
		(SELECT MAX(user_no) FROM USER_INFO),	
		</if>
		#{userId}, #{userImgFilePath}, #{userImgOriImgName}, #{userImgSaveName}
		)
	</insert>
		
	
	<select id="userSearchListCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM USER_INFO WHERE 
		<if test="searchType == 'userId'">
			USER_ID LIKE CONCAT('%', #{searchText}, '%')
		</if>
		<if test="searchType == 'userName'">
			USER_NAME LIKE CONCAT('%', #{searchText}, '%')
		</if>
		<if test="searchType == 'userDpt'">
			USER_DEPARTMENT LIKE CONCAT('%', #{searchText}, '%')
		</if>
	</select>

	
	<select id="userSearchList" parameterType="map" resultType="userInfoDTO">
		SELECT * FROM USER_INFO WHERE
		<if test="searchType == 'userId'">
			USER_ID LIKE CONCAT('%', #{searchText}, '%')
		</if>
		<if test="searchType == 'userName'">
			USER_NAME LIKE CONCAT('%', #{searchText}, '%')
		</if>
		<if test="searchType == 'userDpt'">
			USER_DEPARTMENT LIKE CONCAT('%', #{searchText}, '%')
		</if>
		LIMIT ${startIndex},${pageSize}
	</select>
	
	
	
	
	
</mapper>